.information-container {
    z-index: 1;
    position: absolute;
    background: radial-gradient(#326c87, transparent);
    top: 20px;
    left: 50%;
    width: 700px;
    height: 700px;
}

.header-text {
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    margin: 20px;
    text-align: left;
}

.flower-text > h1 {
    font-size: 32px;
}

.information-container > .img {
    float: left;
    margin: 20px;
    width: 400px;
}