.logo-img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 250px;
    left: 45%;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}